:root{
    --bg-colors: #181c14b6;
    --primary-color: #ffffff;
    --secundary-color: #697565;
    --font: "Nunito Sans", sans serif;
}

.cabecalho{
    background-color: var(--bg-colors);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--primary-color);
}

h1{
    font-size: 2rem;
    color: var(--bg-colors);
    font-weight: 700;
}

nav a{
    text-decoration: none;
    color-var(--bg-color);
    margin: ;

}
nav a hover;
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}