:root{
    --bg-colors: #181C14;
    --primary-color: #d4ff00;
    --secundary-color: #697565;
    --font: "Nunito Sans", sans serif;
}

.cabecalho{
    background-color: var(--bg-colors);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--primary-color);
}

*{
    font-weight: 400;
}
    
body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}